@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Pink: hsl(322, 100%, 66%);
    --hover_pink: hsl(323, 74%, 77%);
    --Very_Pale_Cyan: hsl(193, 100%, 96%);
    --Very_Dark_Cyan: hsl(192, 100%, 9%);
    --Grayish_Blue: hsl(208, 11%, 55%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    font-family: 'Open Sans', sans-serif;
}

.background {
    background: var(--Very_Pale_Cyan);
    background-image: url("images/bg-hero-mobile.svg");
    padding: 0;
}


.top-bar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.top-bar>img {
    width: 40%;
}

.try-it {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0px 2px 3px -1px var(--Grayish_Blue);
    color: var(--Very_Dark_Cyan);
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
}

.try-it:hover {
    color: var(--Grayish_Blue);
}


section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 3rem 1.5rem;
}

p {
    line-height: 1.7;
}


.hero-text {
    margin-bottom: 3rem;
}

.hero-heading {
    color: var(--Very_Dark_Cyan);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}

.hero-para {
    color: var(--Very_Dark_Cyan);
    font-size: 1.125rem;
    font-family: 400;
    inline-size: 300px;
    overflow-wrap: break-word;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.get {
    background-color: var(--Pink);
    border-radius: 3.5rem;
    color: var(--Very_Pale_Cyan);
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.8rem 4rem;
    margin-bottom: 3rem;
}

.get:hover {
    background-color: var(--hover_pink);
}

.hero-img>img {
    width: 100%;
}


.card {
    padding-bottom: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 3rem 2rem;
    box-shadow: 0 0 6px 1px rgba(128, 141, 153, 0.18);
    margin-bottom: 2.5rem;
}

.section-img>img {
    width: 100%;
    margin-bottom: 2.5rem;
}

.section-heading {
    color: var(--Very_Dark_Cyan);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.section-para {
    color: var(--Grayish_Blue);
    font-size: 0.8rem;
}


.build-section {
    position: relative;
}

.build {
    width: 90%;
    background-color: var(--white);
    box-shadow: 0 0 6px 1px rgba(128, 141, 153, 0.342);
    border-radius: 1rem;
    margin-inline: auto;
    padding: 2.5rem 0;
    position: absolute;
    bottom: -4rem;
}

.build>h2 {
    color: var(--Very_Dark_Cyan);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}

.get-build {
    padding: 0.8rem 3rem;
}


footer {
    background-color: var(--Very_Dark_Cyan);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 1.2rem;
    padding-top: 7rem;
}

.footer-logo>img {
    width: 50%;
    margin-bottom: 1.5rem;
}

.contact {
    color: var(--Very_Pale_Cyan);
    font-size: 0.9rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.icon {
    margin-top: 0.25rem;
}

ul {
    margin: 2rem 0;
}

.footer-link {
    list-style-type: none;
    margin-bottom: 1rem;
}

.footer-a {
    color: var(--Very_Pale_Cyan);
    text-decoration: none;
}

.footer-a:hover {
    text-decoration: underline;
}

.social-copyright {
    margin-inline: auto;
}

.social {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.social-icon {
    border: 1px solid var(--Very_Pale_Cyan);
    border-radius: 100%;
    color: var(--Very_Pale_Cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 38px;
    aspect-ratio: 1;
}

.social-icon>a {
    color: var(--Very_Pale_Cyan);
    text-decoration: none;
}

.social-icon:hover.social-icon>a {
    color: var(--Pink);
}

.social-icon:hover {
    border: 1px solid var(--Pink);
}

.copyright {
    color: var(--Very_Pale_Cyan);
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
}


@media screen and (min-width:1440px) {
    .background {
        background-image: url("images/bg-hero-desktop.svg");
        background-repeat: no-repeat;
        width: 100%;
    }

    main {
        width: 100%;
    }

    
    .top-bar {
        width: 90vw;
        justify-content: space-between;
        padding: 2rem;
    }

    .top-bar>img {
        width: 15%;
    }


    .try-it {
        padding: 0.5rem 3rem;
    }

    
    .hero-section {
        width: 100%;
        height: 90vh;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .hero-img {
        width: 50%;
    }

    .hero-heading {
        font-size: 2.5rem;
        inline-size: 500px;
        overflow-wrap: break-word;
    }

    .hero-para {
        inline-size: 550px;
        overflow-wrap: break-word;
        font-weight: 400;
        margin-bottom: 2.5rem;
    }

    .hero-text {
        text-align: left;
    }



    
    .container {
        width: 90%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        text-align: left;
        padding: 1.5rem;
    }

    .flex-reverse {
        flex-direction: row;
    }

    .section-img {
        width: 35%;
    }

    .section-text {
        margin-left: 3rem;
    }

    .section-heading {
        font-size: 1.5rem;
    }

    .section-para {
        font-size: 1rem;
        inline-size: 500px;
        overflow-wrap: break-word;
    }

    
    .build {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40%;
        height: 30vh;
        padding: 0 0;
        margin: 0;
    }

    .build>h2 {
        font-size: 1.2rem;
        margin-top: 2.5rem;
    }

    
    .footer {
        width: 95%;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer-logo {
        width: 60%;
    }

    .contact:nth-child(2) {
        inline-size: 400px;
        overflow-wrap: break-word;
    }

    ul {
        width: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 150px;
        padding-top: 1.2rem;
    }

    .footer-link {
        margin-right: 3rem;
    }

    .copyright {
        text-align: end;
        padding: 2rem 3rem;
    }
}